In [1]:
import pandas as pd
data = pd.read_csv('covid_combined_data.csv')
data

,location_key,subregion1_code_x,subregion1_name_x,date,country_name_x,new_confirmed,cumulative_confirmed,new_tested,cumulative_tested,subregion1_code_y,...,cumulative_deceased,subregion1_code,subregion1_name,country_name,new_persons_vaccinated,cumulative_persons_vaccinated,new_persons_fully_vaccinated,cumulative_persons_fully_vaccinated,new_vaccine_doses_administered,cumulative_vaccine_doses_administered
0,AR_U,U,Chubut,2021-06-03,Argentina,352,65456,647,127262,U,...,1147,U,Chubut,Argentina,1157,54564,413,18606,1570,73170
1,IN_AS,AS,Assam,2021-06-25,India,2793,496481,139105,14339556,AS,...,4370,AS,Assam,India,158705,5536768,17540,1152586,176245,6689354
2,MY_02,02,Kedah,2022-01-24,Malaysia,395,174374,8098,1321133,02,...,2174,02,Kedah,Malaysia,74,1596945,257,1577276,8236,3714419
3,US_DE,DE,Delaware,2021-11-04,United States of America,276,145284,1121,433596,DE,...,1970,DE,Delaware,United States of America,282,676753,119,585615,190,1323940
4,FR_PAC,PAC,Provence-Alpes-Côte d'Azur,2021-11-05,France,865,757955,37314,16882909,PAC,...,8965,PAC,Provence-Alpes-Côte d'Azur,France,2486,3635163,3321,3526206,5807,7161369
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350782,IN_WB,WB,West Bengal,2021-03-05,India,255,576176,20851,8658929,WB,...,10275,WB,West Bengal,India,88226,1253831,22281,233229,110507,1487060
350783,IN_WB,WB,West Bengal,2021-08-27,India,703,1546237,43448,16858265,WB,...,18410,WB,West Bengal,India,350670,27755795,214649,10876093,565319,38631888
350784,IN_WB,WB,West Bengal,2021-06-18,India,2788,1477037,55367,13578748,WB,...,17240,WB,West Bengal,India,166235,14422580,41120,4188380,207355,18610960
350785,IN_WB,WB,West Bengal,2021-06-03,India,8811,1403535,74568,12645747,WB,...,15921,WB,West Bengal,India,233060,11511500,12512,3915428,245572,15426928
350786,IN_WB,WB,West Bengal,2021-07-01,India,1501,1501284,54741,14272933,WB,...,17735,WB,West Bengal,India,66911,16900326,52872,5109791,119783,22010117

In [2]:
data = data[data.subregion1_code_x.isna()][['country_name_x', 'new_confirmed', 'new_deceased']]
data

        country_name_x  new_confirmed  new_deceased
184079  Czech Republic          13029           152
184080         Finland           6952            22
184081        Bulgaria            130            17
184082     Switzerland            954             4
184083          Cyprus            235             1
...                ...            ...           ...
231653          Brazil          69609          1555
231654      Azerbaijan            649            16
231655  United Kingdom          30631           166
231656         Ireland           1624            11
231657        Pakistan             54             0

[25420 rows x 3 columns]

In [3]:

data.columns = ['country', 'confirmed', 'deceased']
data.to_csv('confirmed_deceased.csv')